<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cloudinary_url cocktail.photo %>')">
          <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
